<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login</title>
		<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    </head>
<body class="controller">
	<h1 class="display-4 mb-4" th:text="${title}"></h1>
	<p th:text="${msg}"></p>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	
	<form method="post" action="/login">
		<div class="input-group">
			<input type="text" class="form-control me-1" name="mail" th:value="${value}"/>
		</div>
		<div class="input-group">
			<input type="text" class="form-control me-1" name="pass_O" th:value="${value}"/>
		</div>
		<span class="input-group-btn">
			<input type="submit" class="btn btn-primary px-4" value="Click"/>
		</span>
	</form>
	
	<table class="table">
		<thead>
			<tr><th>ID</th><th>Name</th><th>Mail</th><th>Pass_O</th><th>Pass_A</th></tr>
		</thead>
		<tbody>
			<tr th:each="item : ${data}">
				<td th:text="${item.id}"></td>
				<td th:text="${item.name}"></td>
				<td th:text="${item.mail}"></td>
				<td th:text="${item.pass_O}"></td>
				<td th:text="${item.pass_A}"></td>
			</tr>
		</tbody>
	</table>
</html>